ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3F3F3F;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.primary-nav {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }